/* reset*/
body,ul,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,dd{margin:0px;padding:0px;}
li{list-style-type:none;}
img,input{border:0px;}
/* 清除浮动*/
.clr:after{  
    content:"";  
    height:0px;  
    visibility:hidden;  
    display:block;  
    clear:both;  
}    
.clr{  
    zoom:1;  
} 
a,area{outline:none;}
h1,h2,h3,h4,h5,h6{font-weight: 500;}
/* reset*/


body{font:12px "宋体","微软雅黑" ;line-height: 22px;}


.box{width:982px;margin:0 auto;}
.mart10{margin-top:10px;}
.marr10{margin-right:10px;}
.marb10{margin-bottom:10px;}
.marl10{margin-left:10px;}

.mart5{margin-top:5px;}
.marr5{margin-right:5px;}
.marb5{margin-bottom:5px;}
.marl5{margin-left:5px;}
.mart20{margin-top: 20px;}


.fl{float:left;}
.fr{float:right;}
.relative{position:relative;}
.absolute{position:absolute;}

a,a:visited{color:#333;text-decoration: none;}
a:hover{text-decoration: underline;}
